<PaperInput
  @type='password'
  @class={{@inputClass}}
  @label={{@label}}
  @value={{@value}}
  @onChange={{@onChange}}
  @onFocus={{@onFocus}}
  @onBlur={{@onBlur}}
  @onKeyDown={{@onKeyDown}}
  @required={{@required}}
  @customValidations={{this.customValidations}}
  @errors={{readonly this.inputErrors}}
  @errorMessages={{@errorMessages}}
  @passThru={{@passThru}}
>
  {{#if @value}}
    <div class='md-errors-spacer'></div>
    <div class='paper-password-strength layout-row layout-align-start-center'>
      <PaperProgressLinear
        @class='flex-20'
        @value={{this.strengthValue}}
        @warn={{this.strengthWarning}}
      />
      <div class='flex-80'>Password Strength: {{this.strengthLevel}}</div>
    </div>
  {{/if}}
</PaperInput>