{{page-title '@linc-technologies/ember-paper-password'}}

<h1>ember-paper-password</h1>

<PaperForm as |form|>
  <div class='layout-row'>
    <PaperPassword
      @label='Enter password'
      @value={{this.password}}
      @onChange={{fn (mut this.password)}}
      @required={{true}}
      @class='flex-80 layout-row'
      @inputClass='flex'
    />
    <div class='flex-20'>
      <form.submit-button
        @raised={{true}}
        @primary={{true}}
        @disabled={{form.isInvalid}}
      >
        Submit
      </form.submit-button>
    </div>
  </div>
</PaperForm>

{{outlet}}